* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background: rgb(110, 51, 7);
	color: black;
	
}

/* Main Menu */

#main-menu {
	background-image: url(images/123.png);
}

#main-menu ul {
	padding: 0.5em 0;
	text-align: center;
}


#main-menu li {
	list-style: none;
	padding: 0.1em 0.5em;
}

#main-menu a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0.25em 1em;
	text-transform: uppercase;
	border-radius: 3px;
	font-weight: bold;
	transition: all 1s ease;

}

#main-menu a:hover {
	background-color: white;
	color: black;
}
.read-more {
	width: 100%;
	padding-top: 1em;
}

.read-more a {
	float: right;
	color: whitesmoke;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
}

.read-more a:after {
	content: ">";
	margin-left: 0.5em;
}	


/* Page Header */

#page-header {
	background-size: cover;
	background-position: center center;
	text-align: center;
	font-size: 2em;
	line-height: 1.5em;
}

#page-header .banner-title {
	background: rgba(255,255,255,0.5);
}

#page-header #logo {
	padding-top: 5%;
}

#page-header #logo img {
	max-width: 500px;
}


#page-header p {
	padding: 0.5em 0.5em 0.5em 0.5em;
}

#page-header .cta-button {
	text-align: center;
	padding: 10% 0;
}

#page-header .cta-button a {
	display: inline-block;
	background-color: darkblue;
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 10px;
	box-shadow: inset rgba(0,0,255,0.5) 0 2px 1px, inset rgba(0,0,0,0.3) 0 -2px 1px;
}

#page-header .cta-button a:hover {
	color: black;
	background-color: white;
	box-shadow: none;
}

body.page-overview #page-header {
	background-image: url(images/abc.jpg);
}

body.page-about-us #page-header {
	background-image: url(images/background-about-us.jpg);
}



#features {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    background: rgb(110, 51, 7);
    color: #eee;
}

#features article {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 100px;
	padding-bottom: 0.5em;
	padding-top: 120px !important;
}

#features article h3 {
	font-size: 2.5em;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: center;
}
#features article p {
	font-size: 1.8em;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: center;
}

#features article.features-Mortals {/*the style in community and index are same so i use both and not rewrite it again*/
	background-image: url(images/hum.png);
}

#features article.features-Gods {
	background-image: url(images/gods.png);
}
#features article.features-Variation {
    background-image: url(images/var.jpg);
}
.features-instergram {
	display: block;
	text-align: center;
	
}

.features-instergram img{
	width: 80px;
	height: 80px;
	border: 3px solid black;
}
.features-facebook {
	display: block;
	text-align: center ;
	
}

.features-facebook img{
	width: 80px;
	height: 80px;
	border: 3px solid black;
}

.features-twitter {
	display: block;
	text-align: center;
	
}

.features-twitter img{
	width: 80px;
	height: 80px;
	border: 3px solid black;
}

/* bottombuttom */

#bottombutton {
	background: black;
	
}

#bottombutton .cta-button {
	text-align: center;
	padding: 10% 0;
}

#bottombutton .cta-button a {
	display: inline-block;
	background-color: darkblue;
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 10px;
	box-shadow: inset rgba(0,0,255,0.5) 0 2px 1px, inset rgba(0,0,0,0.3) 0 -2px 1px;
}

#bottombutton .cta-button a:hover {
	color: black;
	background-color: white;
	box-shadow: none;
}

/* PageFooter */

#page-footer {
	padding: 1.5em;
	text-transform: uppercase;
}

#secondary-menu li {
	list-style: none;
}

#secondary-menu a {
	color: #999;
}
/*The @media rule is used in media queries to apply different styles for different media types/devices.*/
@media only screen and (min-width: 900px) {

	body {
		font-size: 16px;
		line-height: 1.5em;
	}

	/* Main Menu */

	#main-menu ul {
		display: flex;
		justify-content: center;
		padding: 0;
		text-align: left;
	}

	#main-menu li {
		padding: 0.75em 0.5em;
	}

	/* Page Header */

	#page-header {
		min-height: 80vh;
	}

	#page-header h1 {
		font-size: 4em;
	}

	/* Main Content */

	#main-content,
	#features,
	#testimonials {
		padding: 3em;
	}

	

	#features article {
		width: 30%;
		padding: 2em 5em;
	}


	/* Page Footer */

	#page-footer {
		padding: 1.5em 3em;
		background: black;
		color: #eee;
	}

	#secondary-menu ul {
		display: flex;
	}

	#secondary-menu li {
		padding: 0;
		padding-right: 1.5em;
	}

}
/*this is error msg window*/
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	height: 60px;
	transform: translate(-50%, -50%);
	background-color: lightblue;
	padding: 20px;
	border: 1px solid black;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-size: 1.3em;
  }
  #closeButton {
	position: absolute;
	bottom: 10px; 
	right: 10px; 
	background-color: blanchedalmond;
	width: 48px;
  }
/* cardlibrary*/
#cardlibrary {
	display: flex;
	justify-content: center;
	background: rgb(110, 51, 7);
	color: #eee;
	padding: 20px 0;
  }
  
  .card-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	max-width: 1200px;
	width: 100%;
	padding: 0 20px;
  }
  
  .card {
	background-color: black;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
  }
  
  .card img {
	width: 100%;
	height: auto;
	display: block;
  }

  
